<nav class="db dt-l w-100 border-box pa3 ph5-l">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <img src="https://pbs.twimg.com/profile_images/529492306337202177/y1zYj4HI_400x400.jpeg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="Home">Home</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/writing.html" title="Writing">Writing</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/speaking.html" title="Speaking">Speaking</a>
    <a class="link dim dark-gray f6 f5-l dib" href="/contact.html" title="Contact">Contact</a>
  </div>
</nav>
