.skewed {
  -moz-transform: rotate(-3deg) skew(-4deg, 0);
  -ms-transform: rotate(-3deg) skew(-4deg, 0);
  -o-transform: rotate(-3deg) skew(-4deg, 0);
  -webkit-transform: rotate(-3deg) skew(-4deg, 0);
  transform: rotate(-3deg) skew(-4deg, 0);
}

.shadow {
  text-shadow: 1px 2px 0 #ddd,
               2px 3px 0 #fff;
}

.shadowish {
  text-shadow: 1px 2px 0 #ffffffaa;
}

@media screen and (min-width: 60em) {
  .ml--20-l {
    margin-left: -20px;
  }
}

p {
  line-height: 20px;
}

blockquote {
  background: #f7f7f7;
  border-left: 3px solid #6b069e;
  font-size: 16px;
  margin: 0;
  padding: 5px 25px;
}

blockquote > p {
  font-size: 22px;
  line-height: 28px;
}

pre {
  overflow-x: scroll;
  padding: 12px;
}
pre::-webkit-scrollbar { height: 0 !important; width: 0 !important; }

code {
  background: #fff;
  padding: 0 4px;
}

pre > code {
  padding: 0;
}

h3 {
  margin-top: 40px;
}
